* {
    box-sizing: border-box;
}

#menu {
    display: none;
}

#menu:target {
    display: inherit;
}

nav > ul {
    width: 500px;
    list-style-type: none;
    position: absolute;
    margin-left: -50px;
    left: 0;
    animation: lista 0.5s alternate both;
}

nav > ul > li {
    padding: 20px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

nav > ul > li > ul {
    position: relative;
    top: 100%;
    width: 500px;
    margin-top: 5px;
    height: 0;
    list-style-type: none;
    overflow: hidden;
    font-size: 0;
    transform: translateX(-60px);
    transition: height 0.5s ease, font-size 0.5s ease, transform 0.5s ease;
}

nav > ul > li:hover > ul {
    height: 300px;
    font-size: 12pt;
}

nav > ul > li > ul > li {
    background-image: linear-gradient(45deg, #f6d365 0%, #cd1919b8 50%, #fda085 100%);
    padding: 20px;
}

@keyframes lista {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
    
}