* {
    box-sizing: border-box;
}

nav>ul {
    width: 15%;
    list-style-type: none;
}

nav ul li {
    padding: 20px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    position: relative;
}

nav > ul > li > ul {
    margin-top: 5px;
    height: 0;
    list-style-type: none;
    overflow: hidden;
    font-size: 0;
    transform: translateX(-60px);
    transition: height 0.5s ease, font-size 0.5s ease, transform 0.5s ease;
}

nav ul li:hover ul {
    height: auto;
    font-size: 12pt;
}

nav > ul > li > ul > li {
    width: 500px;
    background-image: linear-gradient(45deg, #f6d365 0%, #cd1919b8 50%, #fda085 100%);
    padding-left: 20px;
}