* {
    box-sizing: border-box;
}

nav {
    margin-top: -15.6px;
    width: 100%;
}

nav ul {
    background-color: #181818;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul li {
    background-color: #181818;
    color: rgb(191, 191, 191);
    padding: 20px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

nav ul li:hover {
    color: white;
}

.apple_icon {
    font-size: 17px;
}