* {
    box-sizing: border-box;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    color: white;
    height: 58px;
    padding: 20px;
    background-color: brown;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
}