* {
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: white;
    height: 58px;
    padding: 20px;
    background-color: brown;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
}

nav ul li a:hover {
    background-color: white;
    color: brown;
}

nav ul li .active:target {
    background-color: white;
    color: brown;
}

main section {
    display: none;
}

main section:target {
    display: block;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}
