* {
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    width: 100px;
    height: 100px;
    padding: 20px;
    text-align: center;
    align-content: center;
    font-size: 16pt;
    font-weight: bolder;
    background-image: url('../img/CaratulasInazumaEleven.png');
    background-repeat: repeat-x;
    
}

nav ul li:hover {
    background-position: bottom;
}